.card-style{
    transition: transform 0.5s;
    cursor: pointer;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card-style:hover{
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-7px);
}
.card-style button{
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.card-style button:hover{
    transform: translateY(-2px);
    /* transition: background-color 0.3s ease; */
}
.d-flex{
    gap: 10px;
    cursor: pointer;
}